{% extends "feer/base.html" %}

{% block content %}
<h1>Facts often asked about:</h1>
<ul>
  <li>You pay <em>only</em> for the beers that you want to drink, and drink <em>only</em> the beers that you pay for</li>
  <li>There will be two beers every Friday</li>
  <li>Anyone can add beers to the beer list. Beers must be from bestofbeers.dk.</li>
  <li>When you have added a beer to the beer list, you can then add that beer to an order</li>
  <li>Until one week before the order date of an order, anyone can add beers to orders. After this point in time the order will be locked, and a committee will be appointed to select which beers will be ordered. The committee takes into consideration the types of beer, the price and volume, among other things. For now this locking is enforced by everyone being polite and not touching anything. In the future the locking will be enforced by the site.</li>
  <li>Orders are placed such that beer is available on the first Friday of each month</li>
  <li>A few days prior to the order date of an order, a mail will be send with details on how to pay for the beers.</li>
  <li>When you have drunk a beer, please go and rate it. In the future ratings may be used to select encore beers.</li>
</ul>
{% endblock content %}
