{% extends "feer/base.html" %}

{% block content %}
<div class="alert alert-info" role="alert">
  <p>{{ emails }}</p>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Participants
  </div>

  <table class="table">
    <tr>
      <th>Participant</th>
      <th>To pay (DKK)</th>
    </tr>
  {% for p, c in costs %}
    <tr>
      <td>{{ p }}</td>
      <td>{{ c }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    {{ order.name }}: <b>{{ order.cost }} DKK</b>
    {% if order.remainding_balance > 0 %}, Remaining payment from last order: <b>{{ order.remainding_balance }} DKK</b>{% endif %}
    {% if shipping_cost_required %}, Shipping fee: <b>49 DKK</b>{% endif %}
  {% if order.updatable %}
    <span style="float:right">
      <a href="{% url 'orderitem_create' order.id %}">Add beer to order</a>
    </span>
  {% endif %}
  </div>

  <table class="table table-hover" style="border-collapse:collapse;">
    <tr class="header-row">
      <th></th>
      <th>Quantity</th>
      <th>Beer</th>
      <th>Volume (ml)</th>
      <th>Participants</th>
      <th>ml/person</th>
      <th>Drink Date</th>
      <th>Unit Price (DKK)</th>
      <th>Total Price (DKK)</th>
      <th></th>
      <th></th>
    </tr>
  {% for item in order.orderitem_set.all %}
    <tr class="accordian-toggle visible-row" data-toggle="collapse" data-target="#item{{ item.id }}">
      <td>
      {% if order.updatable %}
        <input type="checkbox" name="{{ item.id }}" onchange="checkboxChanged(this)" {% if user in item.participants.all %}checked{% endif %}>
      {% endif %}
      </td>
      <td>{{ item.quantity }}</td>
      <td><a href="{% url 'beer_detail' item.beer.id %}">{{ item.beer.name }}</a></td>
      <td>{{ item.beer.volume }}</td>
      <td class="table-number">{{ item.participants.count }}</td>
      <td>{{ item.volume_per_participant }}</td>
      <td>{{ item.drink_date }}</td>
      <td class="table-number">{{ item.beer.price }}</td>
      <td class="table-number"><a href="{{ item.beer.purchase_url }}"> {{ item.cost }} </a></td>
      <td>
      {% if order.updatable %}
        <a href="{% url 'orderitem_update' order_pk=order.pk pk=item.pk %}"><i class="fa fa-pencil warning"></i></a>
      {% endif %}
      </td>
      <td>
      {% if order.updatable %}
        <a href="{% url 'orderitem_delete' order_pk=order.pk pk=item.pk %}"><i class="fa fa-trash danger"></i></a>
      {% endif %}
      </td>
    </tr>
    <tr class="hidden-row">
      <td colspan="10" class="hidden-row">
        <div class="accordian-body collapse beerInfo" id="item{{ item.id }}">
          <ul class="beerInfoList">
          {% for p in item.participants.all %}
            <li class="label minimal-label"><a href="#">{{ p.username }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
var csrftoken = getCookie('csrftoken');

function checkboxChanged(elem) {
  console.log(elem.name + ' changed to ' + elem.checked);

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  };
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $.ajax({
      url:'editmyparticipation/',
      type: "POST",
      data: {order_item_id: elem.name, checked: elem.checked},
      success:function(response){},
      complete:function(){},
      error:function (xhr, textStatus, thrownError){}
  });
}
</script>

{% endblock content %}
