{% extends "feer/base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Participants
  </div>

  <table class="table">
    <tr>
      <th>Participant</th>
      <th>To pay (DKK)</th>
    </tr>
  {% for p, c in order.participant_costs %}
    <tr>
      <td>{{ p }}</td>
      <td>{{ c }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    {{ order.name }}: <b>{{ order.cost }} DKK</b>
    <span style="float:right">
      <a href="{% url 'orderitem_create' order.id %}">Add beer to order</a>
    </span>
  </div>

  <table class="table table-hover" style="border-collapse:collapse;">
    <tr class="header-row">
      <th>Quantity</th>
      <th>Beer</th>
      <th>Volume (ml)</th>
      <th>Participants</th>
      <th>ml/person</th>
      <th>Date</th>
      <th>Unit Price (DKK)</th>
      <th>Total Price (DKK)</th>
      <th></th>
      <th></th>
    </tr>
  {% for item in order.orderitem_set.all %}
    <tr class="accordian-toggle visible-row" data-toggle="collapse" data-target="#item{{ item.id }}">
      <td>{{ item.quantity }}</td>
      <td><a href="{% url 'beer_detail' item.beer.id %}">{{ item.beer.name }}</a></td>
      <td>{{ item.beer.volume }}</td>
      <td class="table-number">{% if user in item.participants.all %}<i class="fa fa-check-circle good"></i>{% endif %} {{ item.participants.count }}</td>
      <td>{{ item.volume_per_participant }}</td>
      <td>{{ item.drink_date }}</td>
      <td class="table-number">{{ item.beer.price }}</td>
      <td class="table-number"><a href="{{ item.beer.purchase_url }}"> {{ item.cost }} </a></td>
      <td><a href="{% url 'orderitem_update' order_pk=order.pk pk=item.pk %}"><i class="fa fa-pencil warning"></i></a></td>
      <td><a href="{% url 'orderitem_delete' order_pk=order.pk pk=item.pk %}"><i class="fa fa-trash danger"></i></a></td>
    </tr>
    <tr class="hidden-row">
      <td colspan="10" class="hidden-row">
        <div class="accordian-body collapse beerInfo" id="item{{ item.id }}">
          <ul class="beerInfoList">
          {% for p in item.participants.all %}
            <li class="label minimal-label"><a href="#">{{ p.username }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock content %}
