{% extends "feer/base.html" %}
{% load bootstrap3 %}
{% bootstrap_messages %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% bootstrap_form_errors form %}
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Name</span>
    <input class="form-control" placeholder="Name" type="text" name="name" value="{{ order.name }}">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Order date</span>
    <input class="form-control" placeholder="Order date" type="date" name="order_date" value="{{ order.order_date|date:"Y-m-d" }}">
  </div>

  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>
{% endblock content %}
